body {font-family: 'Times New Roman', Times, serif;}
h1, h2 {color: blue;}
body {background-color:lightgray;}
.evenrow {background-color: grey;}
table,
      th,
      td {
        border: 1px solid black;
      }
